<!DOCTYPE html>
<html>
<head>
    <script>
        var urls = {{ urls|safe }};
    </script>
    <title>Redirect Manager</title>
</head>
<body>
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
        <label>Number</label>
    </div>
    <div class="col-xs-2">
        <label>Short url</label>
    </div>
    <div class="col-xs-2">
        <label>Android</label>
    </div>
    <div class="col-xs-2">
        <label>iOS</label>
    </div>
    <div class="col-xs-2">
        <label>Other</label>
    </div>
    <div class="col-xs-1"></div>
</body>
</html>